#edit{
    background-color: cadetblue;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1500px;
    height: 800px;


}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic ;
    text-decoration: dashed;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family:monospace;
    color:rgb(51, 1, 1);
}

.img-responsive{
    width: 500px;
    height: 700px;
}

#output
{
    font-size: 100px;

}

.mini_result
{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 60px;
}